@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

body{
    background-color: rgb(102, 102, 168);
    /* padding: 0px; */
    justify-content: center;
}

/* ของ login */
#myLogin{

    padding-top: 10px;
    margin: 0 auto;
    width: 480px;
    border-radius: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* height: 720px; */
    background-color: aliceblue;
    border: 1px;

}

#loginCenter{
    text-align: center;
}

#RigisterHeader input[type = "submit"]{
    background-color:aquamarine;
    border-radius: 7px;
    border:0px;
    height: 40px;
    width: 400px;
    font-size: 20px;
    margin-top: 10px;

}

/* ของ Register */

#RigisterHeader{
    font-family: 'Montserrat', sans-serif;
    border: 0px solid black;
    
    margin-bottom: 5px;
}

#RigisterHeader input{
    width: 430px;
    margin-bottom: 10px;
    height: 30px
}

#RigisterHeader input[type = "text"]{
    border-radius: 7px;
    border:1px solid black;
}

#RigisterHeader input[type = "email"]{
    border-radius: 7px;
    border:1px solid black;
}

#RigisterHeader input[type = "password"]{
    border-radius: 7px;
    border:1px solid black;
}

#RegisterButton{
    text-align: center;
    margin-top: 15px;
}

#LoginButton{
    text-align: center;
}

#RegisterButton input[type = "submit"]{
    height: 40px;
    width: 400px;
    border-radius: 5px;
    background-color:palevioletred;
    border: 0px;
    /* margin-bottom: 15px; */
    font-size: 20px;
}

#LoginButton input[type = "submit"]{
    height: 30px;
    width: 400px;
    border-radius: 5px;
    background-color:rgba(64, 224, 208, 0);
    border: 0px;
    font-size: 15px;

}

#myForm{
    padding-top: 10px;
    margin: 0 auto;
    width: 480px;
    border-radius: 25px;
    background-color: aliceblue;
}

/* ของ Home */

.Header-section {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    position: relative;
    text-align: left;
}

#TextHomeHeader{
    padding-left: 80px;
    color: white;
}

.hero-background {
    overflow: hidden;
    position: relative;
    background: -webkit-linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: -webkit-radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.3;
  }

.hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
}

#iconimg{
    width: 550px;
}

.hero-icon {
    text-align: center;
    position: absolute;
    top: 66%;
    left: 67%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-button {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
}

#GoWebsiteButton button{
    height: 80px;
    width: 400px;
    border-radius: 20px;
    background-color:rgb(26, 223, 131);
    border: 0px;
    /* margin-bottom: 15px; */
    font-size: 40px;
}
div h1{
    font-size: 80px;
}

div h2{
    font-size: 60px;
}

.black-section {
    background-color: black;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    position: relative;
    text-align: left;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.flex_container > div{

    margin-left: 10px;
    margin-bottom: 10px;
}
#executiveText{
    padding-left: 100px;
    color:white;
}

#HomePic{
	width:100%;
    height: 550px;
    background-color: whitesmoke;
}

#container{
    /* text-align: center; */
	width:100%;
	display: inline;
    
}

#layer {
	width:400px;
    border-radius: 20px;
    background-color: aliceblue;
	height: 400px;
	margin: 1%;
	text-align: center;
	display: inline-block;
    /* background-color: red; */
}
a{
    text-decoration: none;
}

#ExecutiveHeader{
    font-size: 20px;
    padding-left: 40px;
    text-align: left;
}


/* ของ shopping */
/* #header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2rem 9%;
    background: #fff;
} */

#Leftpage{
    text-align: left;
}

#Rightpage{
    text-align: right;
}

.grid-container{
    display: grid;
    grid-template-columns: 25% auto auto auto;
    grid-gap: 10px;
}

.grid-container > div{
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    background-color:white;
}

#header{
    grid-column: 1 / span 4;
    padding: 2rem 9%;
    border: 1px solid black;
}

#Menubar{
    grid-column: 1 / span 1;
    display: block;
}

a{
    color: black;
}

#HeaderTextMenubar{
    padding: 25px;
    margin: 5px;
    /* border-radius: 7px; */
    text-align: left;
    background-color: gainsboro;
}

#MenuProductCPU{
    padding: 20px;
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: gainsboro;
}

#MenuProductMainboard{
    padding: 20px;
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: gainsboro;
}

#MenuProductVGA{
    padding: 20px;
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: gainsboro;
}

#MenuProductVGA{
    padding: 20px;
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: gainsboro;
}
#MenuProductMemory{
    padding: 20px;
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: gainsboro;
}

#MenuProductHarddisk{
    padding: 20px;
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: gainsboro;
}

#MenuProductPowerSuply{
    padding: 20px;
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: gainsboro;
}

#MenuProductCase{
    padding: 20px;
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: gainsboro;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
  
li a{
    display: block;
    background-color: #dddddd;
}

#Product{
    grid-column: 2 / span 3;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Product div{
    margin-left: 10px;
    margin-bottom: 10px;
}
.ProductDetail{
    width: 360px;
    height: 380px;
    border-radius: 7px;
    border:1px solid red;
}
.Name{
    text-align: left;
}

.ProductPicture{
    /* background-color: black; */
    width: 250px;
    height: 250px;
}

.Price{
    color: red;
}

/* ของ Cart */

.grid-container-cart{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    border: 1px solid red;
    
}

.grid-container-cart > div{
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    background-color:white;
}

#header-card{
    grid-column: 1 / span 5;
    padding: 2rem 9%;
    border: 1px solid black;
}

#MyCardHeader{
    grid-column: 1 / span 2;
    background-color: #dddddd00;
}

#MyCart{
    grid-column: 1 / span 2;
    background-color: #dddddd00;
}

#Checkout{
    grid-column: 3 / span 3;
    background-color:white;
    height: 600px;
    transform: translate(0px,-55px);
}

.cart-page{
    margin-bottom: 1px;
}
table{
    width: 100%;
    background-color: white;
    border-color: red;
    border-collapse: collapse;
    /* border-radius: 20px; */
}

.cart-info{
    display: flex;
    /* flex-wrap: wrap; */
    /* width: auto; */
    margin-right:auto;
}

.product-detail{
    text-align: center;
    width: 250px;
    border: 1px solid yellow;
}

th{
    text-align: center;
    padding: 10px;
    color: white;
    background-color: orange;
    font-weight: normal;
}
td{
    padding: 10px 5px;
    transform: translate(100px);
    width: 400px;
}

td a{
    color: red;
    font-size:medium;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

#quanityinput{
    transform: translate(60px,70px);
    width: 60px;
    height: 20px;
}

#totalPrice{
    transform: translate(40px);
}

#HeaderCheckout{
    text-align: left;
    margin:50px;
}

#BodyCheckout{
    text-align: left;
    margin:50px;
    font-size: medium;
}