body{
    background-color: rgb(102, 102, 168);
    /* padding-top: 100px; */
    justify-content: center;
}

/* ของ login */
#myLogin{
    padding-top: 10px;
    margin: 0 auto;
    width: 480px;
    border-radius: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* height: 720px; */
    background-color: aliceblue;
}



/* ของ Register */
#RigisterHeader{
    border: 0px solid black;
}

#myForm{
    padding-top: 10px;
    margin: 0 auto;
    width: 480px;
    border-radius: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* height: 720px; */
    background-color: aliceblue;
}

/* ของ Home */
#HomePic{
	width:100%;
    height: 550px;
    background-color: whitesmoke;
}

#container{
    text-align: center;
	width:100%;
	display: block;
}

#layer div{
	width:400px;
    border-radius: 20px;
    background-color: aliceblue;
	height: 400px;
	margin: 1%;
	text-align: center;
	display: inline-block;
}
a{
    text-decoration: none;
}

#MainMenu div{
    margin:15px;
    background-color: aquamarine;
    height: 220px;
    width: 320px;

}

#leftpage{
    padding-left: 25px;
    text-align: left;
}


/* ของ shopping */
/* #header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2rem 9%;
    background: #fff;
} */

#Leftpage{
    text-align: left;
}

#Rightpage{
    text-align: right;
}

.grid-container{
    display: grid;
    grid-template-columns: 25% auto auto auto;
    grid-gap: 10px;
}

.grid-container > div{
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    background-color:white;
}

#header{
    grid-column: 1 / span 4;
    padding: 2rem 9%;
    border: 1px solid black;
}

#Menubar{
    grid-column: 1 / span 1;
    display: block;
}

a{
    color: black;
}

#HeaderTextMenubar{
    padding: 25px;
    margin: 5px;
    /* border-radius: 7px; */
    text-align: left;
    background-color: gainsboro;
}

#MenuProductCPU{
    padding: 20px;
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: gainsboro;
}

#MenuProductMainboard{
    padding: 20px;
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: gainsboro;
}

#MenuProductVGA{
    padding: 20px;
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: gainsboro;
}

#MenuProductVGA{
    padding: 20px;
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: gainsboro;
}
#MenuProductMemory{
    padding: 20px;
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: gainsboro;
}

#MenuProductHarddisk{
    padding: 20px;
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: gainsboro;
}

#MenuProductPowerSuply{
    padding: 20px;
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: gainsboro;
}

#MenuProductCase{
    padding: 20px;
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: gainsboro;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
  
li a{
    display: block;
    background-color: #dddddd;
}

#Product{
    grid-column: 2 / span 3;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Product div{
    margin-left: 10px;
    margin-bottom: 10px;
}
.ProductDetail{
    width: 360px;
    height: 380px;
    border-radius: 7px;
    border:1px solid red;
}
.Name{
    text-align: left;
}

.ProductPicture{
    /* background-color: black; */
    width: 250px;
    height: 250px;
}

.Price{
    color: red;
}

/* ของ Cart */
#MyCardHeader{
    grid-column: 1 / span 4;
    background-color: #dddddd00;
}

#MyCart{
    grid-column: 1 / span 4;
    background-color: #dddddd00;
}

.cart-page{
    margin-bottom: 20px;
}
table{
    width: 100%;
    background-color: white;
    border-color: red;
    border-collapse: collapse;

}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

.product-detail{
    text-align: center;
}

th{
    text-align: center;
    padding: 10px;
    color: white;
    background-color: orange;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}

td a{
    color: red;
    font-size:medium;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td img{
    width: 200px;
    height: 200px;
    margin-right: 10px;
}