@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

body{
    /* background-color: rgb(102, 102, 168); */
    /* padding: 0px; */
    justify-content: center;
    height: 100%;
    margin: 0;
}

/* ของ login */

#myLogin{
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 100px;
    width: 480px;
    border-radius: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* height: 720px; */
    background-color: aliceblue;
    border: 1px;

}

#loginCenter{
    text-align: center;
}

#RigisterHeader input[type = "submit"]{
    background-color:aquamarine;
    border-radius: 7px;
    border:0px;
    height: 40px;
    width: 400px;
    font-size: 20px;
    margin-top: 10px;

}

/* ของ Register */

#RigisterHeader{
    font-family: 'Montserrat', sans-serif;
    border: 0px solid black;
    
    margin-bottom: 5px;
}

#RigisterHeader input{
    width: 430px;
    margin-bottom: 10px;
    height: 30px
}

#RigisterHeader input[type = "text"]{
    border-radius: 7px;
    border:1px solid black;
}

#RigisterHeader input[type = "email"]{
    border-radius: 7px;
    border:1px solid black;
}

#RigisterHeader input[type = "password"]{
    border-radius: 7px;
    border:1px solid black;
}

#RegisterButton{
    text-align: center;
    margin-top: 15px;
}

#LoginButton{
    text-align: center;
}

#RegisterButton input[type = "submit"]{
    height: 40px;
    width: 400px;
    border-radius: 5px;
    background-color:palevioletred;
    border: 0px;
    /* margin-bottom: 15px; */
    font-size: 20px;
}

#LoginButton input[type = "submit"]{
    height: 30px;
    width: 400px;
    border-radius: 5px;
    background-color:rgba(64, 224, 208, 0);
    border: 0px;
    font-size: 15px;

}

#myForm{
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 80px;
    width: 480px;
    border-radius: 25px;
    background-color: aliceblue;
}

/* ของ Home */

.Header-section {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    position: relative;
    text-align: left;
}

#TextHomeHeader{
    padding-left: 80px;
    color: white;
}

.hero-background {
    overflow: hidden;
    position: relative;
    background: -webkit-linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: -webkit-radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.hero-image {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.3;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
}

#iconimg{
    width: 500px;
}

#iconimg2{
    width: 250px;
}

.hero-icon1 {
    /* opacity: 0.8; */
    text-align: center;
    position: absolute;
    top: 35%;
    left: 67%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-icon2 {
    /* opacity: 0.8; */
    text-align: center;
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-icon3 {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-button {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
}

#GoWebsiteButton button{
    height: 80px;
    width: 400px;
    border-radius: 20px;
    background-color:rgb(26, 223, 131);
    border: 0px;
    /* margin-bottom: 15px; */
    font-size: 40px;
}

#GoWebsiteButton button:active{
    height: 80px;
    width: 400px;
    border-radius: 20px;
    background-color:rgb(19, 179, 104);
    border: 0px;
    /* margin-bottom: 15px; */
    font-size: 40px;
}

div h1{
    font-size: 80px;
}

div h2{
    font-size: 60px;
}

.black-section {
    background-color: black;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    position: relative;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.flex_container > div{

    margin-left: 10px;
    margin-bottom: 10px;
}
#executiveText{
    padding-left: 100px;
    color:white;
}

#HomePic{
	width:100%;
    height: 550px;
    background-color: whitesmoke;
}

#container{
    /* text-align: center; */
	width:100%;
	display: inline;
    
}

#layer {
	width:400px;
    border-radius: 20px;
    background-color: aliceblue;
	height: 400px;
	margin: 1%;
	text-align: center;
	display: inline-block;
    /* background-color: red; */
}
a{
    text-decoration: none;
}

#ExecutiveHeader{
    font-size: 20px;
    padding-left: 40px;
    text-align: left;
}


/* ของ shopping */
/* #header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2rem 9%;
    background: #fff;
} */

.thick-arrow-left {
    width: 25px;
    height: 25px;
    border: 10px solid rgb(255, 255, 255);
    border-left: 0;
    border-top: 0;
  
    transform: rotate(135deg);
}

.hero-backgroundShoppingPage {
    overflow: hidden;
    position: relative;
    background: -webkit-linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: -webkit-radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.black-sectionShoppingPage {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    text-align: left;
    top: 100%;
    overflow: hidden;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.black-sectionShoppingPage a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.black-sectionShoppingPage a.split {
    float: right;
    /* background-color: #04AA6D; */
    color: white;
  }

  .black-sectionShoppingPage img{
    width: 30px;
}


#Leftpage{
    text-align: left;
}
#Leftpage a{
    padding-left: 80px;
    color: white;
}

#Rightpage{
    text-align: right;
}

.grid-container{
    display: grid;
    grid-template-columns: 25% auto auto auto;
    grid-gap: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e8d6ff;
    margin-top: 20px;
}

.grid-container > div{
    /* border: 1px solid black; */
    font-size: 20px;
    text-align: center;
    /* background-color:white; */
}

#header{
    grid-column: 1 / span 4;
    padding: 2rem 9%;
    border: 1px solid black;
}

#Menubar{
    grid-column: 1 / span 1;
    display: block;
}

a{
    color: black;
}

#HeaderTextMenubar{
    padding: 25px;
    margin: 5px;
    /* border-radius: 7px; */
    text-align: left;
    background-color: white;
}

#MenuProductCPU{
    /* padding: 20px; */
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: white;

}

.MenuProduct h4{
    padding-left: 20px;
    text-align: right;
    display: inline-block;
    transform: translate(0,-5px);
}

.MenuProduct img{
    width: 60px;
    height:60px;
    transform: translate(0,15px);
    display: inline-block;
    /* background-color: red; */
}

#MenuProductCPU:hover{
    border-left: 7px solid rgb(112, 114, 216);
    font-size: 24px;
    transition: border-left 1s,font-size 0.5s;
}

#MenuProductMainboard{
    /* padding: 20px; */
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: white;
}

#MenuProductMainboard:hover{
    border-left: 7px solid rgb(112, 114, 216);
    font-size: 24px;
    transition: border-left 1s,font-size 0.5s;
}

#MenuProductVGA{
    /* padding: 20px; */
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: white;
}

#MenuProductVGA:hover{
    border-left: 7px solid rgb(112, 114, 216);
    font-size: 24px;
    transition: border-left 1s,font-size 0.5s;
}

#MenuProductMemory{
    /* padding: 20px; */
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: white;
}

#MenuProductMemory:hover{
    border-left: 7px solid rgb(112, 114, 216);
    font-size: 24px;
    transition: border-left 1s,font-size 0.5s;
}

#MenuProductHarddisk{
    /* padding: 20px; */
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: white;
}

#MenuProductHarddisk:hover{
    border-left: 7px solid rgb(112, 114, 216);
    font-size: 24px;
    transition: border-left 1s,font-size 0.5s;
}

#MenuProductPowerSuply{
    /* padding: 20px; */
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: white;
}

#MenuProductPowerSuply:hover{
    border-left: 7px solid rgb(112, 114, 216);
    font-size: 24px;
    transition: border-left 1s,font-size 0.5s;
}

#MenuProductCase{
    /* padding: 20px; */
    padding-left: 50px;
    margin: 5px;
    border-radius: 7px;
    border-left: 5px solid palevioletred;
    text-align: left;
    background-color: white;
}

#MenuProductCase:hover{
    border-left: 7px solid rgb(112, 114, 216);
    font-size: 24px;
    transition: border-left 1s,font-size 0.5s;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
  
li a{
    display: block;
    background-color: #dddddd;
}

#Product{
    grid-column: 2 / span 3;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Product div{
    margin-left: 10px;
    margin-bottom: 10px;
}

#Product button:hover{
    width: 230px;
    height: 60px;
    font-size: 22px;
    transition: width 0.5s, height 0.5s, font-size 0.5s;
}



.ProductDetail{
    width: 360px;
    height: 380px;
    border-radius: 7px;
    background-color: white;
    /* border:1px solid red; */
}
.ProductDetail img:hover{
    width: 230px;
    height: 230px;
    border-radius: 7px;
    background-color: white;
    transition: width 0.5s, height 0.5s;
    /* border:1px solid red; */
}

.Name{
    padding-top: 30px;
    padding-left: 20px;

    text-align: left;
}

.ProductPicture{
    /* background-color: black; */
    width: 200px;
    height: 200px;
}

.Price{
    color: red;
}

.ProductDetail button{
    width: 200px;
    height: 45px;
    border-radius: 23px;
    color: white;
    font-size: 15px;
    border: 0px;;
    background-color: rgb(139, 107, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(40, 48, 155, 0.342);
}

/* ของ Cart */

.black-sectionCart {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    text-align: left;
    top: 100%;
    overflow: hidden;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.black-sectionCart a{
    color: white;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.grid-container-cart{
    display: grid;
    background-color: #e8d6ff;
    /* background-color: whitesmoke; */
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    /* border: 1px solid red; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.grid-container-cart > div{
    /* border: 1px solid black; */
    font-size: 20px;
    text-align: center;
    background-color:white;
}

#header-card{
    grid-column: 1 / span 5;
    padding: 2rem 9%;
    border: 1px solid black;
}

#MyCardHeader{
    grid-column: 1 / span 2;
    background-color: #dddddd00;
    margin-left: 10px;
}

#MyCart{
    grid-column: 1 / span 2;
    background-color: #dddddd00;
    margin-left: 10px;
}

#CartData{
    /* border-bottom: 1px solid black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#Checkout{
    grid-column: 4 / span 1;
    background-color:white;
    height: 600px;
    margin-top: 55px;
    margin-right: 10px;
    border-radius: 23px;
    transform: translate(0px,-55px);
    /* background-color: rgb(20, 20, 20); */
}

#Checkout div{
    color: black;
}

.cart-page{
    margin-bottom: 1px;
}
table{
    width: 100%;
    background-color: white;
    border-color: red;
    border-collapse: collapse;
    /* border-radius: 20px; */
}

.cart-info{
    display: flex;
    /* flex-wrap: wrap; */
    /* width: auto; */
    margin-right:auto;
}

.cart-info button{
    background-color: rgb(255, 123, 134);
    font-size: 15px;
    border-radius: 17px;
    width: 100px;
    height: 30px;
    transform: translate(0,30px);
}

.cart-info button:active{
    background-color: rgb(145, 68, 76);
    font-size: 15px;
    border-radius: 17px;
    width: 100px;
    height: 30px;
    transform: translate(0,30px);
}

.product-detail{
    text-align: center;
    width: 250px;
}

th{
    text-align: center;
    padding: 10px;
    color: white;
    background-color: orange;
    font-weight: normal;
}
td{
    padding: 10px 5px;
    transform: translate(100px);
    width: 400px;
}

td a{
    color: red;
    font-size:medium;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

#quanityinput{
    transform: translate(160px,20px);
    width: 60px;
    height: 20px;
}

#totalPrice{
    transform: translate(40px);
}

#HeaderCheckout{
    text-align: left;
    margin:50px;
}

#BodyCheckout{
    text-align: left;
    margin:50px;
    font-size: medium;
}

#ButtonCheckout button{
    color: whitesmoke;
    background-color: black;
    font-size: 18px;
    margin-top: 80px;
    border-radius: 17px;
    width: 180px;
    height: 50px;
}
#ButtonCheckout button:hover{
    color: black;
    background-color: rgb(182, 182, 182);
    font-size: 22px;
    margin-top: 80px;
    border-radius: 17px;
    width: 220px;
    height: 60px;
    transition: width 0.5s, height 0.5s, background-color 0.5s;
}
#ButtonCheckout button:active{
    color: whitesmoke;
    background-color: black;
    font-size: 22px;
    margin-top: 80px;
    border-radius: 17px;
    width: 220px;
    height: 60px;
    /* transition: width 0.5s, height 0.5s, background-color 0.5s; */
}